<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>swing_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-9.5,-0.5}</string>
				<key>spriteSize</key>
				<string>{139,121}</string>
				<key>spriteSourceSize</key>
				<string>{158,122}</string>
				<key>textureRect</key>
				<string>{{0,129},{139,121}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>swing_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-7,-11}</string>
				<key>spriteSize</key>
				<string>{122,90}</string>
				<key>spriteSourceSize</key>
				<string>{136,112}</string>
				<key>textureRect</key>
				<string>{{148,0},{122,90}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>swing_04_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-7,3}</string>
				<key>spriteSize</key>
				<string>{120,102}</string>
				<key>spriteSourceSize</key>
				<string>{134,108}</string>
				<key>textureRect</key>
				<string>{{239,0},{120,102}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>swing_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-9.5,0}</string>
				<key>spriteSize</key>
				<string>{147,128}</string>
				<key>spriteSourceSize</key>
				<string>{166,128}</string>
				<key>textureRect</key>
				<string>{{0,0},{147,128}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/swing_04-uhd.png</string>
			<key>size</key>
			<string>{341,250}</string>
			<key>textureFileName</key>
			<string>icons/swing_04-uhd.png</string>
		</dict>
	</dict>
</plist>